<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Name Letters</title>
        <link rel="stylesheet" type="text/css" href="css/styles.css">
    </head>
    
    <body>
        <div class="Wrap">
            <div class="PostSide">
                <% if(currentUser[0].length!=0){%>
                    <a class="LogSignLink" href="/logout">Log Out</a>
                    <p>Hello <%=currentUser[0]%>
                    </p>
                    <% if(edit) {%>
                        <% let post=posts[editId]%>
                            <h1 class="PostHead">Edit Post #<%=editId%>!</h1>
                            <form action="/post" method="POST">
                                <input class="InputTitle" type="text" name="PostTitle" placeholder="New Title">
                                <textarea class="InputContent" type="text" name="PostContent"
                                    placeholder="New Body"></textarea>
                                <input class="PostButton" type="submit" value="Edit">
                            </form>
                            <%} else {%>
                                <h1 class="PostHead">Make A Post!</h1>
                                <form action="/post" method="POST">
                                    <input class="InputTitle" type="text" name="PostTitle" placeholder="Title">
                                    <textarea class="InputContent" type="text" name="PostContent"
                                        placeholder="Content"></textarea>
                                    <input class="PostButton" type="submit" value="Post">
                                </form>
                                <%}%>
                                    <%} else {%>
                                        <div class="LogSignButtonWrap">
                                            <a class="LogSignLink" href="/login">Log In</a>
                                            <a class="LogSignLink" href="/signup">Sign Up</a>
                                        </div>
                                        <%}%>
            </div>
            <div class="BlogsWrap">
                <% if (locals.posts) { %>
                    <ul class="PostsList">
                        <% for (let i=0; i < posts.length; i++) { %>
                            <% let post=posts[i]%>
                                <li class="Post">
                                    <h2>
                                        <%=post["title"] %>
                                    </h2>
                                    <p>
                                        <%=post["body"] %>
                                    </p>
                                    <div class="data">
                                        <p>
                                            <%=post["date_created"]%>
                                                By <%=post["creator_name"]%>
                                        </p>
                                    </div>
                                    <%if(post["creator_name"]===currentUser[0]){%>
                                        <div class="Actions">
                                            <form class="Edit" action="/edit" method="POST">
                                                <button>
                                                    <input type="hidden" name="id" value="<%=post["blog_id"]%>">
                                                    Edit
                                                </button>
                                            </form>
                                            <form class="Delete" action="/delete" method="POST">
                                                <button>
                                                    <input type="hidden" name="id" value="<%=post["blog_id"]%>">
                                                    Delete
                                                </button>
                                            </form>
                                        </div>
                                        <%}%>
                                </li>
                                <% } %>
                                    <% } %>
                    </ul>
            </div>
        </div>
    </body>
    
    </html>